
<div class="hero-image mb-3">
  <div class="hero-text">
    <h1>My Movie Lists</h1>
    <p>Pick a film</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
        <div class="col">
          <div class="card">
            <div>
              <%= cl_image_tag(list.photo.key, :class=> "card-img-top") %>
            </div>
            <h5 class="carousel-caption "><%= link_to list.name, list_path(list) %></h5>
            <%= link_to "<i class='fa-solid fa-trash-can'></i>".html_safe, list_path(list), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
    <% end %>
  </div>
</div>
